.form {
    display: flex;
    font-size: 16px;
    margin-top: 35px;
    width: 70%;
}

.form input{
    background-color: rgb(255, 255, 255);
    border: none;
    font-family: inherit;
    font-size: inherit;
    padding: 10px;
    width: 100%;
}

.form button {
    background-color: rgb(238, 238, 238);
    border: none;
    border-radius: 0 5px 5px 0;
    font-family: inherit;
    font-size: inherit;
}

@media screen and (min-width: 500px) {
    .form {
        width: 60%;
    }
}

@media screen and (min-width: 700px) {
    .form {
        width: 50%;
    }
}

@media screen and (min-width: 850px) {
    .form {
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    .form {
        font-size: 18px;
        width: 30%;
    }
}