.todo {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -webkit-pre-wrap;          /* Chrome & Safari */ 
    white-space: -pre-wrap;                 /* Opera 4-6 */
    white-space: -o-pre-wrap;               /* Opera 7 */
    white-space: pre-wrap;                  /* CSS3 */
    word-wrap: break-word;                  /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}

.todo:nth-child(odd) {
    background-color: rgba(238, 132, 132, 0.466);
}

.todo:nth-child(even) {
    background-color: rgba(253, 191, 191, 0.466);
}

 .bin-btn {
     background-color: transparent;
     border: none;
     cursor: pointer;
     padding: 0;
 }

 .bin-btn img {
     height: 25px;
     transition: filter 0.2s ease;
 }

 .bin-btn:hover img {
    filter: invert(23%) sepia(98%) saturate(7220%) hue-rotate(358deg) brightness(93%) contrast(116%);
}