.form {
    display: flex;
    margin-top: 35px;
    width: 70%;
}

.form input{
    background-color: rgba(238, 132, 132, 0.466);
    border: none;
    width: 100%;
}

.form button {
    background-color: rgb(238, 132, 132);
    border: none;
    border-radius: 0 5px 5px 0;
}