.todo {
    align-items: center;
    border-bottom: 1px solid rgb(190, 190, 190);
    color: rgb(73, 72, 72);
    display: flex;
    font-family: inherit;
    justify-content: space-between;
    padding: 10px;
    margin: 0 20px;
    white-space: -moz-pre-wrap !important;
    white-space: -webkit-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.todo:last-child {
    border-bottom: none;
}

 .bin-btn {
     background-color: transparent;
     border: none;
     cursor: pointer;
     padding: 0;
 }

 .bin-btn img {
     height: 25px;
     transition: filter 0.2s ease;
 }

 .bin-btn:hover img {
    filter: invert(23%) sepia(98%) saturate(7220%) hue-rotate(358deg) brightness(93%) contrast(100%);
}